<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MIKMAK Admin Page('title')</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <link href="{{ secure_asset('css/style2.css') }}" rel="stylesheet"> 
</head>

<body>
    <main class="tower">
        <section class="floor">
            <nav class="control-panel">
                <a href=""></a>
                <a href=""></a>
                <h1>MIKMAK</h1>
            </nav>
            <article class="show-room">
                <!--<!(div[class="tile"]>(a[class="mask"]>h2+p)+h1+p)*6-->
                <div class="tile">
                    <a href="https://p4rr-cloned-ranjaniramanuja.c9users.io/product" class="mask">
                        <h2>Product</h2>
                    </a>
                    <h1>Product</h1>
                    <p>Ga naar Product</p>
                </div>
                
                 <div class="tile">
                    <a href="" class="mask">
                        <h2>Supplier</h2>
                    </a>
                    <h1>Supplier</h1>
                    <p>Ga naar Supplier</p>
                </div>
                
                <div class="tile-2">
                    <a href="" class="mask">
                        <h2></h2>
                    </a>
                    <h1></h1>
                    <p></p>
                </div>
                
                <div class="tile">
                    <a href="https://p4rr-cloned-ranjaniramanuja.c9users.io/customer" class="mask">
                        <h2>Customer</h2>
                    </a>
                    <h1>Customer</h1>
                    <p>Ga naar Customer</p>
                </div>
                
                <div class="tile">
                    <a href="" class="mask">
                        <h2></h2>
                    </a>
                    <h1></h1>
                    <p></p>
                </div>
                
                <div class="tile">
                    <a href="" class="mask">
                        <h2>Order</h2>
                    </a>
                    <h1>Order</h1>
                    <p>Ga naar Order 2</p>
                </div>
                
                <div class="tile">
                    <a href="" class="mask">
                        <h2>Order Items</h2>
                    </a>
                    <h1>Order Items</h1>
                    <p>Ga naar Order Items</p>
                </div>
                
                <div class="tile">
                    <a href="" class="mask">
                        <h2></h2>
                    </a>
                    <h1></h1>
                    <p></p>
                </div>
                
                 <div class="tile">
                    <a href="https://p4rr-cloned-ranjaniramanuja.c9users.io/country" class="mask">
                        <h2>Country</h2>
                    </a>
                    <h1>Country</h1>
                    <p>Ga naar Country</p>
                </div>
                
                <div class="tile">
                    <a href="https://p4rr-cloned-ranjaniramanuja.c9users.io/category" class="mask">
                        <h2>Category</h2>
                    </a>
                    <h1>Category</h1>
                    <p>Ga naar Category 2</p>
                </div>
                
                <div class="tile">
                    <a href="" class="mask">
                        <h2>Unit Base</h2>
                    </a>
                    <h1>Unit Base</h1>
                    <p>Unit Base </p>
                </div>
                
            </article>
        </section>
    </main>
<div class="footer">
  <p>Footer</p>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>