<!-- CATEGORY we will also add show, edit, and delete buttons -->
            <!--<td>-->

                <!-- show the category (uses the show method found at GET /category/{id} -->
            <!--    <a class="btn btn-info" href="{{ URL::to('category/' . $value->id) }}">Show </a></td>-->
            <!-- <td>-->
                <!-- edit this category (uses the edit method found at GET /category/{id}/edit -->
            <!--    <a class="btn btn-success" href="{{ URL::to('category/' . $value->id . '/edit') }}">Edit </a></td>-->
            <!-- <td>-->
                <!-- delete the category (uses the destroy method DESTROY /category/{id} -->
            <!--    {{ Form::open(array('url' => 'category/' . $value->id)) }}-->
            <!--        {{ Form::hidden('_method', 'DELETE') }}-->
            <!--        {{ Form::submit('Delete', array('class' => 'btn btn-danger')) }}-->
            <!--    {{ Form::close() }}-->
            <!--</td>-->
            
            
<!--PRODUCT we will also add show, edit, and delete buttons -->
            <td>

                <!-- show the product (uses the show method found at GET /product/{id} -->
                <a class="btn btn-small btn-success" href="{{ URL::to('product/' . $value->id) }}">Show </a></td>
             <td>
                <!-- edit this product (uses the edit method found at GET /product/{id}/edit -->
                <a class="btn btn-small btn-info" href="{{ URL::to('product/' . $value->id . '/edit') }}">Edit </a></td>
             <td>
                <!-- delete the product (uses the destroy method DESTROY /product/{id} -->
                {{ Form::open(array('url' => 'product/' . $value->id)) }}
                    {{ Form::hidden('_method', 'DELETE') }}
                    {{ Form::submit('Delete', array('class' => 'btn btn-danger')) }}
                {{ Form::close() }}
            </td>
            
            
{ !! Form::open(array('action' => ['ProductController@update', $product->id],'method' => 'PUT')) !
