         * {
       box-sizing: border-box;
       -moz-box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: 0;
     }
     
     html,
     body {
       height: 100%;
       width: 100%;
       position: relative;
     }
     
     .tower {
       height: calc(100% - 70px); 
       width:calc(100%-60px);
       background-color: white;
       overflow-y: hidden;
     }
     
     .tower2 {
       height: calc(100% - 70px);
       width: calc(100%-60px);
       background-color: white;
       overflow-y: scroll;
     }
     
     .floor {
       height: 100%;
       width: 100%;
       background-color: white;
     }
     
     .control-panel {
       height: 11%;
       width: 100%;
       background-color: black;
       text-align: right;
       color: white;
       padding: 2px 20px;
       font-size: 16px;
     }
     
     .show-room {
       height: 89%;
       width: 90%;
       background-color: white;
       margin-left: 5%;
       border-right: solid white 0.3em;
       border-bottom: solid white 0.1em;
     }
     
     .footer {
       height: 13%;
       width: 100%;
       background-color: grey;
       color: white;
       padding: 10px;
       text-align: center;
       font-size: 20px;
       position: fixed;
     }
     
     .sidenav {
       height: 100%;
       width: 0;
       position: fixed;
       z-index: 1;
       top: 0;
       left: 0;
       background-color: black;
       overflow-x: hidden;
       transition: 0.5s;
       padding-top: 60px;
     }
     
     .sidenav a {
       padding: 8px 8px 8px 32px;
       text-decoration: none;
       font-size: 25px;
       color: #818181;
       display: block;
       transition: 0.3s
     }
     
     .sidenav a:hover,
     .offcanvas a:focus {
       color: #f1f1f1;
     }
     
     .sidenav .closebtn {
       position: absolute;
       top: 0;
       right: 25px;
       font-size: 36px;
       margin-left: 50px;
     }
     
     @media screen and (max-height: 450px) {
       .sidenav {
         padding-top: 15px;
       }
       .sidenav a {
         font-size: 18px;
       }
     }
     /*extra*/
     
     .buttonfix {
       float: left;
       margin-right: 2px;
     }
     
     .tile {
       width: 24.9%;
       height: 33%;
       background-color: #DAA520;
       border-left: solid white 0.3em;
       border-top: solid white 0.3em;
       float: left;
       color: black;
       cursor: pointer;
       position: relative;
       text-decoration: none;
       text-align: center;
     }
     
     .tile-2 h2 {
       padding-top: 9%;
       color: darkgrey;
       text-decoration: none;
     }
     
     .tile a {
       text-decoration: none;
     }
     
     .tile-2 a {
       text-decoration: none;
     }
     
     .tile h2 {
       padding-top: 18%;
       color: darkgrey;
       text-decoration: none;
     }
     
     .tile-2 {
       width: 49.8%;
       height: 33%;
       background-color: #DAA520;
       border-left: solid white 0.3em;
       border-top: solid white 0.3em;
       float: left;
       color: white;
       cursor: pointer;
       position: relative;
       text-decoration: none;
       text-align: center;
     }
     
     .tile:hover .mask {
       display: block;
     }
     
     .tile-2:hover .mask {
       display: block;
     }
     
     .mask {
       text-docoration: none;
       color: black;
       display: none;
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       /*background-color:lightgray;*/
       background-color: rgba(200, 200, 100, 0.8)
     }
     
     body {
       height: 100%;
       width: 100%;
     }
     
     main {
       margin-left: 30px;
       margin-right: 30px;
     }
     
     .container {
       position: relative;
       margin-left: auto;
       margin-right: auto;
       padding-right: 15px;
       padding-left: 15px;
     }
     
     @media (min-width: 576px) {
       .container {
         padding-right: 15px;
         padding-left: 15px;
       }
     }
     
     @media (min-width: 768px) {
       .container {
         padding-right: 15px;
         padding-left: 15px;
       }
     }
     
     @media (min-width: 992px) {
       .container {
         padding-right: 15px;
         padding-left: 15px;
       }
     }
     
     @media (min-width: 1200px) {
       .container {
         padding-right: 15px;
         padding-left: 15px;
       }
     }
     
     @media (min-width: 576px) {
       .container {
         width: 540px;
         max-width: 100%;
       }
     }
     
     @media (min-width: 768px) {
       .container {
         width: 720px;
         max-width: 100%;
       }
     }
     
     @media (min-width: 992px) {
       .container {
         width: 960px;
         max-width: 100%;
       }
     }
     
     @media (min-width: 1200px) {
       .container {
         width: 1140px;
         max-width: 100%;
       }
     }
     
     .textarea {
       width: 100%;
       color: red;
     }
     
     
     .rightfloater {
       width: 165px;
       float: right;
     }
     
     .rightfloater-2 {
       width: 650px;
       float: right;
     }
     
     .textareafix {
       display: flex;
     }
     
     /*Bootstrap*/
     
     .col-1,
     .col-2,
     .col-3,
     .col-4,
     .col-5,
     .col-6,
     .col-7,
     .col-8,
     .col-9,
     .col-10,
     .col-11,
     .col-12,
     .col,
     .col-sm-1,
     .col-sm-2,
     .col-sm-3,
     .col-sm-4,
     .col-sm-5,
     .col-sm-6,
     .col-sm-7,
     .col-sm-8,
     .col-sm-9,
     .col-sm-10,
     .col-sm-11,
     .col-sm-12,
     .col-sm,
     .col-md-1,
     .col-md-2,
     .col-md-3,
     .col-md-4,
     .col-md-5,
     .col-md-6,
     .col-md-7,
     .col-md-8,
     .col-md-9,
     .col-md-10,
     .col-md-11,
     .col-md-12,
     .col-md,
     .col-lg-1,
     .col-lg-2,
     .col-lg-3,
     .col-lg-4,
     .col-lg-5,
     .col-lg-6,
     .col-lg-7,
     .col-lg-8,
     .col-lg-9,
     .col-lg-10,
     .col-lg-11,
     .col-lg-12,
     .col-lg,
     .col-xl-1,
     .col-xl-2,
     .col-xl-3,
     .col-xl-4,
     .col-xl-5,
     .col-xl-6,
     .col-xl-7,
     .col-xl-8,
     .col-xl-9,
     .col-xl-10,
     .col-xl-11,
     .col-xl-12,
     .col-xl {
       position: relative;
       width: 100%;
       min-height: 1px;
       padding-right: 15px;
       padding-left: 15px;
     }
     
     @media (min-width: 576px) {
       .col-1,
       .col-2,
       .col-3,
       .col-4,
       .col-5,
       .col-6,
       .col-7,
       .col-8,
       .col-9,
       .col-10,
       .col-11,
       .col-12,
       .col,
       .col-sm-1,
       .col-sm-2,
       .col-sm-3,
       .col-sm-4,
       .col-sm-5,
       .col-sm-6,
       .col-sm-7,
       .col-sm-8,
       .col-sm-9,
       .col-sm-10,
       .col-sm-11,
       .col-sm-12,
       .col-sm,
       .col-md-1,
       .col-md-2,
       .col-md-3,
       .col-md-4,
       .col-md-5,
       .col-md-6,
       .col-md-7,
       .col-md-8,
       .col-md-9,
       .col-md-10,
       .col-md-11,
       .col-md-12,
       .col-md,
       .col-lg-1,
       .col-lg-2,
       .col-lg-3,
       .col-lg-4,
       .col-lg-5,
       .col-lg-6,
       .col-lg-7,
       .col-lg-8,
       .col-lg-9,
       .col-lg-10,
       .col-lg-11,
       .col-lg-12,
       .col-lg,
       .col-xl-1,
       .col-xl-2,
       .col-xl-3,
       .col-xl-4,
       .col-xl-5,
       .col-xl-6,
       .col-xl-7,
       .col-xl-8,
       .col-xl-9,
       .col-xl-10,
       .col-xl-11,
       .col-xl-12,
       .col-xl {
         padding-right: 15px;
         padding-left: 15px;
       }
     }
     
     @media (min-width: 768px) {
       .col-1,
       .col-2,
       .col-3,
       .col-4,
       .col-5,
       .col-6,
       .col-7,
       .col-8,
       .col-9,
       .col-10,
       .col-11,
       .col-12,
       .col,
       .col-sm-1,
       .col-sm-2,
       .col-sm-3,
       .col-sm-4,
       .col-sm-5,
       .col-sm-6,
       .col-sm-7,
       .col-sm-8,
       .col-sm-9,
       .col-sm-10,
       .col-sm-11,
       .col-sm-12,
       .col-sm,
       .col-md-1,
       .col-md-2,
       .col-md-3,
       .col-md-4,
       .col-md-5,
       .col-md-6,
       .col-md-7,
       .col-md-8,
       .col-md-9,
       .col-md-10,
       .col-md-11,
       .col-md-12,
       .col-md,
       .col-lg-1,
       .col-lg-2,
       .col-lg-3,
       .col-lg-4,
       .col-lg-5,
       .col-lg-6,
       .col-lg-7,
       .col-lg-8,
       .col-lg-9,
       .col-lg-10,
       .col-lg-11,
       .col-lg-12,
       .col-lg,
       .col-xl-1,
       .col-xl-2,
       .col-xl-3,
       .col-xl-4,
       .col-xl-5,
       .col-xl-6,
       .col-xl-7,
       .col-xl-8,
       .col-xl-9,
       .col-xl-10,
       .col-xl-11,
       .col-xl-12,
       .col-xl {
         padding-right: 15px;
         padding-left: 15px;
       }
     }
     
     @media (min-width: 992px) {
       .col-1,
       .col-2,
       .col-3,
       .col-4,
       .col-5,
       .col-6,
       .col-7,
       .col-8,
       .col-9,
       .col-10,
       .col-11,
       .col-12,
       .col,
       .col-sm-1,
       .col-sm-2,
       .col-sm-3,
       .col-sm-4,
       .col-sm-5,
       .col-sm-6,
       .col-sm-7,
       .col-sm-8,
       .col-sm-9,
       .col-sm-10,
       .col-sm-11,
       .col-sm-12,
       .col-sm,
       .col-md-1,
       .col-md-2,
       .col-md-3,
       .col-md-4,
       .col-md-5,
       .col-md-6,
       .col-md-7,
       .col-md-8,
       .col-md-9,
       .col-md-10,
       .col-md-11,
       .col-md-12,
       .col-md,
       .col-lg-1,
       .col-lg-2,
       .col-lg-3,
       .col-lg-4,
       .col-lg-5,
       .col-lg-6,
       .col-lg-7,
       .col-lg-8,
       .col-lg-9,
       .col-lg-10,
       .col-lg-11,
       .col-lg-12,
       .col-lg,
       .col-xl-1,
       .col-xl-2,
       .col-xl-3,
       .col-xl-4,
       .col-xl-5,
       .col-xl-6,
       .col-xl-7,
       .col-xl-8,
       .col-xl-9,
       .col-xl-10,
       .col-xl-11,
       .col-xl-12,
       .col-xl {
         padding-right: 15px;
         padding-left: 15px;
       }
     }
     
     @media (min-width: 1200px) {
       .col-1,
       .col-2,
       .col-3,
       .col-4,
       .col-5,
       .col-6,
       .col-7,
       .col-8,
       .col-9,
       .col-10,
       .col-11,
       .col-12,
       .col,
       .col-sm-1,
       .col-sm-2,
       .col-sm-3,
       .col-sm-4,
       .col-sm-5,
       .col-sm-6,
       .col-sm-7,
       .col-sm-8,
       .col-sm-9,
       .col-sm-10,
       .col-sm-11,
       .col-sm-12,
       .col-sm,
       .col-md-1,
       .col-md-2,
       .col-md-3,
       .col-md-4,
       .col-md-5,
       .col-md-6,
       .col-md-7,
       .col-md-8,
       .col-md-9,
       .col-md-10,
       .col-md-11,
       .col-md-12,
       .col-md,
       .col-lg-1,
       .col-lg-2,
       .col-lg-3,
       .col-lg-4,
       .col-lg-5,
       .col-lg-6,
       .col-lg-7,
       .col-lg-8,
       .col-lg-9,
       .col-lg-10,
       .col-lg-11,
       .col-lg-12,
       .col-lg,
       .col-xl-1,
       .col-xl-2,
       .col-xl-3,
       .col-xl-4,
       .col-xl-5,
       .col-xl-6,
       .col-xl-7,
       .col-xl-8,
       .col-xl-9,
       .col-xl-10,
       .col-xl-11,
       .col-xl-12,
       .col-xl {
         padding-right: 15px;
         padding-left: 15px;
       }
     }
     
     .col {
       -webkit-flex-basis: 0;
       -ms-flex-preferred-size: 0;
       flex-basis: 0;
       -webkit-box-flex: 1;
       -webkit-flex-grow: 1;
       -ms-flex-positive: 1;
       flex-grow: 1;
       max-width: 100%;
     }
     
     .col-1 {
       -webkit-box-flex: 0;
       -webkit-flex: 0 0 8.333333%;
       -ms-flex: 0 0 8.333333%;
       flex: 0 0 8.333333%;
       max-width: 8.333333%;
     }
     
     .col-2 {
       -webkit-box-flex: 0;
       -webkit-flex: 0 0 16.666667%;
       -ms-flex: 0 0 16.666667%;
       flex: 0 0 16.666667%;
       max-width: 16.666667%;
     }
     
     .col-3 {
       -webkit-box-flex: 0;
       -webkit-flex: 0 0 25%;
       -ms-flex: 0 0 25%;
       flex: 0 0 25%;
       max-width: 25%;
     }
     
     .col-4 {
       -webkit-box-flex: 0;
       -webkit-flex: 0 0 33.333333%;
       -ms-flex: 0 0 33.333333%;
       flex: 0 0 33.333333%;
       max-width: 33.333333%;
     }
     
     .col-5 {
       -webkit-box-flex: 0;
       -webkit-flex: 0 0 41.666667%;
       -ms-flex: 0 0 41.666667%;
       flex: 0 0 41.666667%;
       max-width: 41.666667%;
     }
     
     .col-6 {
       -webkit-box-flex: 0;
       -webkit-flex: 0 0 50%;
       -ms-flex: 0 0 50%;
       flex: 0 0 50%;
       max-width: 50%;
     }
     
     .col-7 {
       -webkit-box-flex: 0;
       -webkit-flex: 0 0 58.333333%;
       -ms-flex: 0 0 58.333333%;
       flex: 0 0 58.333333%;
       max-width: 58.333333%;
     }
     
     .col-8 {
       -webkit-box-flex: 0;
       -webkit-flex: 0 0 66.666667%;
       -ms-flex: 0 0 66.666667%;
       flex: 0 0 66.666667%;
       max-width: 66.666667%;
     }
     
     .col-9 {
       -webkit-box-flex: 0;
       -webkit-flex: 0 0 75%;
       -ms-flex: 0 0 75%;
       flex: 0 0 75%;
       max-width: 75%;
     }
     
     .col-10 {
       -webkit-box-flex: 0;
       -webkit-flex: 0 0 83.333333%;
       -ms-flex: 0 0 83.333333%;
       flex: 0 0 83.333333%;
       max-width: 83.333333%;
     }
     
     .col-11 {
       -webkit-box-flex: 0;
       -webkit-flex: 0 0 91.666667%;
       -ms-flex: 0 0 91.666667%;
       flex: 0 0 91.666667%;
       max-width: 91.666667%;
     }
     
     .col-12 {
       -webkit-box-flex: 0;
       -webkit-flex: 0 0 100%;
       -ms-flex: 0 0 100%;
       flex: 0 0 100%;
       max-width: 100%;
     }
     
     @media (min-width: 576px) {
       .col-sm {
         -webkit-flex-basis: 0;
         -ms-flex-preferred-size: 0;
         flex-basis: 0;
         -webkit-box-flex: 1;
         -webkit-flex-grow: 1;
         -ms-flex-positive: 1;
         flex-grow: 1;
         max-width: 100%;
       }
       .col-sm-auto {
         -webkit-box-flex: 0;
         -webkit-flex: 0 0 auto;
         -ms-flex: 0 0 auto;
         flex: 0 0 auto;
         width: auto;
       }
       .col-sm-1 {
         -webkit-box-flex: 0;
         -webkit-flex: 0 0 8.333333%;
         -ms-flex: 0 0 8.333333%;
         flex: 0 0 8.333333%;
         max-width: 8.333333%;
       }
       .col-sm-2 {
         -webkit-box-flex: 0;
         -webkit-flex: 0 0 16.666667%;
         -ms-flex: 0 0 16.666667%;
         flex: 0 0 16.666667%;
         max-width: 16.666667%;
       }
       .col-sm-3 {
         -webkit-box-flex: 0;
         -webkit-flex: 0 0 25%;
         -ms-flex: 0 0 25%;
         flex: 0 0 25%;
         max-width: 25%;
       }
       .col-sm-4 {
         -webkit-box-flex: 0;
         -webkit-flex: 0 0 33.333333%;
         -ms-flex: 0 0 33.333333%;
         flex: 0 0 33.333333%;
         max-width: 33.333333%;
       }
       .col-sm-5 {
         -webkit-box-flex: 0;
         -webkit-flex: 0 0 41.666667%;
         -ms-flex: 0 0 41.666667%;
         flex: 0 0 41.666667%;
         max-width: 41.666667%;
       }
       .col-sm-6 {
         -webkit-box-flex: 0;
         -webkit-flex: 0 0 50%;
         -ms-flex: 0 0 50%;
         flex: 0 0 50%;
         max-width: 50%;
       }
       .col-sm-7 {
         -webkit-box-flex: 0;
         -webkit-flex: 0 0 58.333333%;
         -ms-flex: 0 0 58.333333%;
         flex: 0 0 58.333333%;
         max-width: 58.333333%;
       }
       .col-sm-8 {
         -webkit-box-flex: 0;
         -webkit-flex: 0 0 66.666667%;
         -ms-flex: 0 0 66.666667%;
         flex: 0 0 66.666667%;
         max-width: 66.666667%;
       }
       .col-sm-9 {
         -webkit-box-flex: 0;
         -webkit-flex: 0 0 75%;
         -ms-flex: 0 0 75%;
         flex: 0 0 75%;
         max-width: 75%;
       }
       .col-sm-10 {
         -webkit-box-flex: 0;
         -webkit-flex: 0 0 83.333333%;
         -ms-flex: 0 0 83.333333%;
         flex: 0 0 83.333333%;
         max-width: 83.333333%;
       }
       .col-sm-11 {
         -webkit-box-flex: 0;
         -webkit-flex: 0 0 91.666667%;
         -ms-flex: 0 0 91.666667%;
         flex: 0 0 91.666667%;
         max-width: 91.666667%;
       }
       .col-sm-12 {
         -webkit-box-flex: 0;
         -webkit-flex: 0 0 100%;
         -ms-flex: 0 0 100%;
         flex: 0 0 100%;
         max-width: 100%;
       }
       @media (min-width: 768px) {
         .col-md {
           -webkit-flex-basis: 0;
           -ms-flex-preferred-size: 0;
           flex-basis: 0;
           -webkit-box-flex: 1;
           -webkit-flex-grow: 1;
           -ms-flex-positive: 1;
           flex-grow: 1;
           max-width: 100%;
         }
         .col-md-auto {
           -webkit-box-flex: 0;
           -webkit-flex: 0 0 auto;
           -ms-flex: 0 0 auto;
           flex: 0 0 auto;
           width: auto;
         }
         .col-md-1 {
           -webkit-box-flex: 0;
           -webkit-flex: 0 0 8.333333%;
           -ms-flex: 0 0 8.333333%;
           flex: 0 0 8.333333%;
           max-width: 8.333333%;
         }
         .col-md-2 {
           -webkit-box-flex: 0;
           -webkit-flex: 0 0 16.666667%;
           -ms-flex: 0 0 16.666667%;
           flex: 0 0 16.666667%;
           max-width: 16.666667%;
         }
         .col-md-3 {
           -webkit-box-flex: 0;
           -webkit-flex: 0 0 25%;
           -ms-flex: 0 0 25%;
           flex: 0 0 25%;
           max-width: 25%;
         }
         .col-md-4 {
           -webkit-box-flex: 0;
           -webkit-flex: 0 0 33.333333%;
           -ms-flex: 0 0 33.333333%;
           flex: 0 0 33.333333%;
           max-width: 33.333333%;
         }
         .col-md-5 {
           -webkit-box-flex: 0;
           -webkit-flex: 0 0 41.666667%;
           -ms-flex: 0 0 41.666667%;
           flex: 0 0 41.666667%;
           max-width: 41.666667%;
         }
         .col-md-6 {
           -webkit-box-flex: 0;
           -webkit-flex: 0 0 50%;
           -ms-flex: 0 0 50%;
           flex: 0 0 50%;
           max-width: 50%;
         }
         .col-md-7 {
           -webkit-box-flex: 0;
           -webkit-flex: 0 0 58.333333%;
           -ms-flex: 0 0 58.333333%;
           flex: 0 0 58.333333%;
           max-width: 58.333333%;
         }
         .col-md-8 {
           -webkit-box-flex: 0;
           -webkit-flex: 0 0 66.666667%;
           -ms-flex: 0 0 66.666667%;
           flex: 0 0 66.666667%;
           max-width: 66.666667%;
         }
         .col-md-9 {
           -webkit-box-flex: 0;
           -webkit-flex: 0 0 75%;
           -ms-flex: 0 0 75%;
           flex: 0 0 75%;
           max-width: 75%;
         }
         .col-md-10 {
           -webkit-box-flex: 0;
           -webkit-flex: 0 0 83.333333%;
           -ms-flex: 0 0 83.333333%;
           flex: 0 0 83.333333%;
           max-width: 83.333333%;
         }
         .col-md-11 {
           -webkit-box-flex: 0;
           -webkit-flex: 0 0 91.666667%;
           -ms-flex: 0 0 91.666667%;
           flex: 0 0 91.666667%;
           max-width: 91.666667%;
         }
         .col-md-12 {
           -webkit-box-flex: 0;
           -webkit-flex: 0 0 100%;
           -ms-flex: 0 0 100%;
           flex: 0 0 100%;
           max-width: 100%;
         }
         .row {
           display: -webkit-box;
           display: -webkit-flex;
           display: -ms-flexbox;
           display: flex;
           -webkit-flex-wrap: wrap;
           -ms-flex-wrap: wrap;
           flex-wrap: wrap;
           margin-right: -15px;
           margin-left: -15px;
         }
         .table {
           width: 100%;
           max-width: 100%;
           margin-bottom: 1rem;
         }
         .table th,
         .table td {
           padding: 0.75rem;
           vertical-align: top;
           border-top: 1px solid #eceeef;
         }
         .table thead th {
           vertical-align: bottom;
           border-bottom: 2px solid #eceeef;
         }
         .table tbody+tbody {
           border-top: 2px solid #eceeef;
         }
         .table-striped tbody tr:nth-of-type(odd) {
           background-color: rgba(0, 0, 0, 0.05);
         }
         .form-control {
           display: block;
           width: 100%;
           padding: 0.5rem 0.75rem;
           font-size: 1.5rem;
           line-height: 1.25;
           color: #464a4c;
           background-color: #fff;
           background-image: none;
           -webkit-background-clip: padding-box;
           background-clip: padding-box;
           border: 1px solid rgba(0, 0, 0, 0.15);
           border-radius: 0.25rem;
           -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
           transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
           -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
           transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
           transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
         }
         .form-control::-ms-expand {
           background-color: transparent;
           border: 0;
         }
         .form-control:focus {
           color: #464a4c;
           background-color: #fff;
           border-color: #5cb3fd;
           outline: none;
         }
         .form-control::-webkit-input-placeholder {
           color: #636c72;
           opacity: 1;
         }
         .form-control::-moz-placeholder {
           color: #636c72;
           opacity: 1;
         }
         .form-control:-ms-input-placeholder {
           color: #636c72;
           opacity: 1;
         }
         .form-control::placeholder {
           color: #636c72;
           opacity: 1;
         }
         .form-control:disabled,
         .form-control[readonly] {
           background-color: #eceeef;
           opacity: 1;
         }
         .form-control:disabled {
           cursor: not-allowed;
         }
         select.form-control:not([size]):not([multiple]) {
           height: calc(2.25rem + 2px);
         }
         select.form-control:focus::-ms-value {
           color: #464a4c;
           background-color: #fff;
         }
         .form-control-static.form-control-sm,
         .input-group-sm>.form-control-static.form-control,
         .input-group-sm>.form-control-static.input-group-addon,
         .input-group-sm>.input-group-btn>.form-control-static.btn,
         .form-control-static.form-control-lg,
         .input-group-lg>.form-control-static.form-control,
         .input-group-lg>.form-control-static.input-group-addon,
         .input-group-lg>.input-group-btn>.form-control-static.btn {
           padding-right: 0;
           padding-left: 0;
         }
         .form-control-sm,
         .input-group-sm>.form-control,
         .input-group-sm>.input-group-addon,
         .input-group-sm>.input-group-btn>.btn {
           padding: 0.25rem 0.5rem;
           font-size: 0.875rem;
           border-radius: 0.2rem;
         }
         .form-control-file,
         .form-control-range {
           display: block;
         }
         .form-group-sm select.form-control {
           height: 30px;
           line-height: 30px
         }
         .form-group-sm select[multiple].form-control,
         .form-group-sm textarea.form-control {
           height: auto
         }
         .form-group-sm .form-control-static {
           height: 30px;
           min-height: 32px;
           padding: 6px 10px;
           font-size: 12px;
           line-height: 1.5
         }
         .col-form-label {
           padding-top: calc(0.5rem - 1px * 2);
           padding-bottom: calc(0.5rem - 1px * 2);
           margin-bottom: 0;
         }
         .form-control-lg,
         .input-group-lg>.form-control,
         .input-group-lg>.input-group-addon,
         .input-group-lg>.input-group-btn>.btn {
           padding: 0.75rem 1.5rem;
           font-size: 1.25rem;
           border-radius: 0.3rem;
         }
         select.form-control-lg:not([size]):not([multiple]),
         .input-group-lg>select.form-control:not([size]):not([multiple]),
         .input-group-lg>select.input-group-addon:not([size]):not([multiple]),
         .input-group-lg>.input-group-btn>select.btn:not([size]):not([multiple]) {
           height: 3.166667rem;
         }
         .form-group {
           margin-bottom: 1rem;
         }
         .form-text {
           display: block;
           margin-top: 0.25rem;
         }
         .form-check {
           position: relative;
           display: block;
           margin-bottom: 0.5rem;
         }
         .form-check.disabled .form-check-label {
           color: #636c72;
           cursor: not-allowed;
         }
         .form-check-label {
           padding-left: 1.25rem;
           margin-bottom: 0;
           cursor: pointer;
         }
         .form-check-input {
           position: absolute;
           margin-top: 0.25rem;
           margin-left: -1.25rem;
         }
         .form-check-input:only-child {
           position: static;
         }
         .form-check-inline {
           display: inline-block;
         }
         .form-check-inline .form-check-label {
           vertical-align: middle;
         }
         .form-check-inline+.form-check-inline {
           margin-left: 0.75rem;
         }
         .form-control-feedback {
           margin-top: 0.25rem;
         }
         .form-control-success,
         .form-control-warning,
         .form-control-danger {
           padding-right: 2.25rem;
           background-repeat: no-repeat;
           background-position: center right 0.5625rem;
           -webkit-background-size: 1.125rem 1.125rem;
           background-size: 1.125rem 1.125rem;
         }
         .form-control-sm,
         .input-group-sm>.form-control,
         .input-group-sm>.input-group-addon,
         .input-group-sm>.input-group-btn>.btn {
           padding: 0.25rem 0.5rem;
           font-size: 0.875rem;
           border-radius: 0.2rem;
         }
         select.form-control-sm:not([size]):not([multiple]),
         .input-group-sm>select.form-control:not([size]):not([multiple]),
         .input-group-sm>select.input-group-addon:not([size]):not([multiple]),
         .input-group-sm>.input-group-btn>select.btn:not([size]):not([multiple]) {
           height: 1.8125rem;
         }
         .has-success .form-control-feedback,
         .has-success .form-control-label,
         .has-success .col-form-label,
         .has-success .form-check-label,
         .has-success .custom-control {
           color: #5cb85c;
         }
         .has-success .form-control {
           border-color: #5cb85c;
         }
         .has-success .input-group-addon {
           color: #5cb85c;
           border-color: #5cb85c;
           background-color: #eaf6ea;
         }
         .has-success .form-control-success {
           background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
         }
         .has-warning .form-control-feedback,
         .has-warning .form-control-label,
         .has-warning .col-form-label,
         .has-warning .form-check-label,
         .has-warning .custom-control {
           color: #f0ad4e;
         }
         .has-warning .form-control {
           border-color: #f0ad4e;
         }
         .has-warning .input-group-addon {
           color: #f0ad4e;
           border-color: #f0ad4e;
           background-color: white;
         }
         .has-warning .form-control-warning {
           background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E");
         }
         .has-danger .form-control-feedback,
         .has-danger .form-control-label,
         .has-danger .col-form-label,
         .has-danger .form-check-label,
         .has-danger .custom-control {
           color: #d9534f;
         }
         .has-danger .form-control {
           border-color: #d9534f;
         }
         .has-danger .input-group-addon {
           color: #d9534f;
           border-color: #d9534f;
           background-color: #fdf7f7;
         }
         .has-danger .form-control-danger {
           background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
         }
         .form-inline {
           display: -webkit-box;
           display: -webkit-flex;
           display: -ms-flexbox;
           display: flex;
           -webkit-flex-flow: row wrap;
           -ms-flex-flow: row wrap;
           flex-flow: row wrap;
           -webkit-box-align: center;
           -webkit-align-items: center;
           -ms-flex-align: center;
           align-items: center;
         }
         .form-inline .form-check {
           width: 100%;
         }
         label {
           display: inline-block;
           max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
           margin-bottom: 5px;
           font-weight: bold;
         }
         .col-form-label {
           padding-top: calc(0.5rem - 1px * 2);
           padding-bottom: calc(0.5rem - 1px * 2);
           margin-bottom: 0;
         }
         .form-inline .form-control-label {
           margin-bottom: 0;
           vertical-align: middle;
         }
         .form-inline .form-check-label {
           padding-left: 0;
         }
         @media (min-width: 576px) {
           .form-inline label {
             display: -webkit-box;
             display: -webkit-flex;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-align: center;
             -webkit-align-items: center;
             -ms-flex-align: center;
             align-items: center;
             -webkit-box-pack: center;
             -webkit-justify-content: center;
             -ms-flex-pack: center;
             justify-content: center;
             margin-bottom: 0;
           }
           .form-inline .form-group {
             display: -webkit-box;
             display: -webkit-flex;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-flex: 0;
             -webkit-flex: 0 0 auto;
             -ms-flex: 0 0 auto;
             flex: 0 0 auto;
             -webkit-flex-flow: row wrap;
             -ms-flex-flow: row wrap;
             flex-flow: row wrap;
             -webkit-box-align: center;
             -webkit-align-items: center;
             -ms-flex-align: center;
             align-items: center;
             margin-bottom: 0;
           }
           .form-inline .form-control {
             display: inline-block;
             width: auto;
             vertical-align: middle;
           }
           .form-inline .form-control-static {
             display: inline-block;
           }
           .form-inline .input-group {
             width: auto;
           }
           .form-inline .form-control-label {
             margin-bottom: 0;
             vertical-align: middle;
           }
           .form-inline .form-check {
             display: -webkit-box;
             display: -webkit-flex;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-align: center;
             -webkit-align-items: center;
             -ms-flex-align: center;
             align-items: center;
             -webkit-box-pack: center;
             -webkit-justify-content: center;
             -ms-flex-pack: center;
             justify-content: center;
             width: auto;
             margin-top: 0;
             margin-bottom: 0;
           }
           .form-inline .form-check-label {
             padding-left: 0;
           }
           .form-inline .form-check-input {
             position: relative;
             margin-top: 0;
             margin-right: 0.25rem;
             margin-left: 0;
           }
           .form-inline .custom-control {
             display: -webkit-box;
             display: -webkit-flex;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-align: center;
             -webkit-align-items: center;
             -ms-flex-align: center;
             align-items: center;
             -webkit-box-pack: center;
             -webkit-justify-content: center;
             -ms-flex-pack: center;
             justify-content: center;
             padding-left: 0;
           }
           .form-inline .custom-control-indicator {
             position: static;
             display: inline-block;
             margin-right: 0.25rem;
             vertical-align: text-bottom;
           }
           .form-inline .has-feedback .form-control-feedback {
             top: 0;
           }
         }
         button {
           overflow: visible
         }
         button,
         select {
           text-transform: none
         }
         textarea {
           overflow: auto;
         }
         button,
         html input[type=button],
         input[type=reset],
         input[type=submit] {
           -webkit-appearance: button;
           cursor: pointer
         }
         button[disabled],
         html input[disabled] {
           cursor: default
         }
         button::-moz-focus-inner,
         input::-moz-focus-inner {
           padding: 0;
           border: 0
         }
         fieldset {
           border: 1px solid #c0c0c0;
           margin: 0 2px;
           padding: 0.35em 0.625em 0.75em;
         }
         input {
           line-height: normal
         }
         fieldset {
           padding: .35em .625em .75em;
           margin: 0 2px;
           border: 1px solid silver
         }
         legend {
           padding: 0;
           border: 0
         }
         textarea {
           overflow: auto
         }
         optgroup {
           font-weight: 700
         }
         table {
           border-spacing: 0;
           border-collapse: collapse
         }
         td,
         th {
           padding: 0
         }
         thead {
           display: table-header-group
         }
         .form-horizontal .has-feedback .form-control-feedback {
           right: 15px
         }
         @media (min-width:768px) {
           .form-horizontal .form-group-lg .control-label {
             padding-top: 11px;
             font-size: 18px
           }
         }
         @media (min-width:768px) {
           .form-horizontal .form-group-sm .control-label {
             padding-top: 6px;
             font-size: 12px
           }
         }
         .col-sm-2 {
           -webkit-box-flex: 0;
           -webkit-flex: 0 0 16.666667%;
           -ms-flex: 0 0 16.666667%;
           flex: 0 0 16.666667%;
           max-width: 16.666667%;
         }
         @media (min-width:768px) {
           .form-horizontal .control-label {
             padding-top: 7px;
             margin-bottom: 0;
             text-align: right
           }
         }
         .form-group-sm .form-control {
           height: 30px;
           padding: 5px 10px;
           font-size: 12px;
           line-height: 1.5;
           border-radius: 3px
         }
         .form-group-sm select.form-control {
           height: 30px;
           line-height: 30px
         }
         .form-group-sm select[multiple].form-control,
         .form-group-sm textarea.form-control {
           height: auto
         }
         .form-group-sm .form-control-static {
           height: 30px;
           min-height: 32px;
           padding: 6px 10px;
           font-size: 12px;
           line-height: 1.5
         }
         h1 {
           margin: .67em 0;
           font-size: 2em
         }
         .dropdown,
         .dropup {
           position: relative
         }
         .dropdown-toggle:focus {
           outline: 0
         }
         .dropdown-menu {
           position: absolute;
           top: 100%;
           left: 0;
           z-index: 1000;
           display: none;
           float: left;
           min-width: 160px;
           padding: 5px 0;
           margin: 2px 0 0;
           font-size: 14px;
           text-align: left;
           list-style: none;
           background-color: #fff;
           -webkit-background-clip: padding-box;
           background-clip: padding-box;
           border: 1px solid #ccc;
           border: 1px solid rgba(0, 0, 0, .15);
           border-radius: 4px;
           -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
           box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
         }
         .dropdown-menu.pull-right {
           right: 0;
           left: auto
         }
         .dropdown-menu .divider {
           height: 1px;
           margin: 9px 0;
           overflow: hidden;
           background-color: #e5e5e5
         }
         .dropdown-menu>li>a {
           display: block;
           padding: 3px 20px;
           clear: both;
           font-weight: 400;
           line-height: 1.42857143;
           color: #333;
           white-space: nowrap
         }
         .dropdown-menu>li>a:focus,
         .dropdown-menu>li>a:hover {
           color: #262626;
           text-decoration: none;
           background-color: #f5f5f5
         }
         .dropdown-menu>.active>a,
         .dropdown-menu>.active>a:focus,
         .dropdown-menu>.active>a:hover {
           color: #fff;
           text-decoration: none;
           background-color: #337ab7;
           outline: 0
         }
         .dropdown-menu>.disabled>a,
         .dropdown-menu>.disabled>a:focus,
         .dropdown-menu>.disabled>a:hover {
           color: #777
         }
         .dropdown-menu>.disabled>a:focus,
         .dropdown-menu>.disabled>a:hover {
           text-decoration: none;
           cursor: not-allowed;
           background-color: transparent;
           background-image: none;
           filter: progid: DXImageTransform.Microsoft.gradient(enabled=false)
         }
         .dropdown-header {
           display: block;
           padding: 3px 20px;
           font-size: 12px;
           line-height: 1.42857143;
           color: #777;
           white-space: nowrap
         }
         .nav-justified .nav-item {
           -webkit-box-flex: 1;
           -webkit-flex: 1 1 100%;
           -ms-flex: 1 1 100%;
           flex: 1 1 100%;
           text-align: left;
         }
         .d-flex {
           display: -webkit-box !important;
           display: -webkit-flex !important;
           display: -ms-flexbox !important;
           display: flex !important;
         }
         .flex-row-reverse {
           -webkit-box-orient: horizontal !important;
           -webkit-box-direction: reverse !important;
           -webkit-flex-direction: row-reverse !important;
           -ms-flex-direction: row-reverse !important;
           flex-direction: row-reverse !important;
         }
         .justify-content-center {
           -webkit-box-pack: center !important;
           -webkit-justify-content: center !important;
           -ms-flex-pack: center !important;
           justify-content: center !important;
         }
         .p-2 {
           padding: 0.5rem 0.5rem !important;
         }
         .pr-3 {
           padding-right: 1rem !important;
         }
         .justify-content-start {
           -webkit-box-pack: start !important;
           -webkit-justify-content: flex-start !important;
           -ms-flex-pack: start !important;
           justify-content: flex-start !important;
         }
         .m-auto {
           margin: auto !important;
         }
         .mt-auto {
           margin-top: auto !important;
         }
         .mr-auto {
           margin-right: auto !important;
         }
         .mb-auto {
           margin-bottom: auto !important;
         }
         .ml-auto {
           margin-left: auto !important;
         }
         .mx-auto {
           margin-right: auto !important;
           margin-left: auto !important;
         }
         .my-auto {
           margin-top: auto !important;
           margin-bottom: auto !important;
         }
         .panel {
           margin-bottom: 20px;
           background-color: #fff;
           border: 1px solid transparent;
           border-radius: 4px;
           -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
           box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
         }
         .panel-body {
           padding: 15px
         }
         .panel-heading {
           padding: 10px 15px;
           border-bottom: 1px solid transparent;
           border-top-left-radius: 3px;
           border-top-right-radius: 3px
         }
         .panel-default {
           border-color: #ddd
         }
         .panel-default>.panel-heading {
           color: #333;
           background-color: #f5f5f5;
           border-color: #ddd
         }
         .panel-default>.panel-heading+.panel-collapse>.panel-body {
           border-top-color: #ddd
         }
         .panel-default>.panel-heading .badge {
           color: #f5f5f5;
           background-color: #333
         }
         .panel-default>.panel-footer+.panel-collapse>.panel-body {
           border-bottom-color: #ddd
         }
         .panel-primary {
           border-color: #337ab7
         }
         .panel-primary>.panel-heading {
           color: #fff;
           background-color: #337ab7;
           border-color: #337ab7
         }
         .panel-primary>.panel-heading+.panel-collapse>.panel-body {
           border-top-color: #337ab7
         }
         .panel-primary>.panel-heading .badge {
           color: #337ab7;
           background-color: #fff
         }
         .panel-primary>.panel-footer+.panel-collapse>.panel-body {
           border-bottom-color: #337ab7
         }
         .panel-title {
           margin-top: 0;
           margin-bottom: 0;
           font-size: 16px;
           color: inherit
         }
         .panel-title>.small,
         .panel-title>.small>a,
         .panel-title>a,
         .panel-title>small,
         .panel-title>small>a {
           color: inherit
         }
         h2,
         h3,
         p {
           orphans: 3;
           widows: 3
         }
         h2,
         h3 {
           page-break-after: avoid
         }
         .h3,
         h3 {
           font-size: 24px
         }
         .h1,
         .h2,
         .h3,
         .h4,
         .h5,
         .h6,
         h1,
         h2,
         h3,
         h4,
         h5,
         h6 {
           font-family: inherit;
           font-weight: 500;
           line-height: 1.1;
           color: inherit
         }
         @media (min-width:768px) {
           .navbar-left {
             float: left!important
           }
           .navbar-right {
             float: right!important;
             margin-right: -15px
           }
           .navbar-right~.navbar-right {
             margin-right: 0
           }
         }