*{
          box-sizing: border-box;
          -moz-box-sizing: border-box; 
          margin:0;
          padding:0;
          border:0;
        }     
     
      html,body{
            height: 100%;
            width :100%;
            position: relative;
            }
     
        .tower{
            height: calc(100% - 70px); 
            width:calc(100%-60px); 
            background-color:white;
            overflow-y: hidden;
        }
        
        .tower2{
            height: calc(100% - 70px); 
            width:calc(100%-60px); 
            background-color:white;
            overflow-y: scroll;
        }
        
        .floor{
            height: 100%;
            width :100%;
            background-color:white;
        }
        
        .control-panel{
            height: 13%;
            width :100%;
            background-color: black;
            text-align: right;
            color: white;
            padding: 2px 20px;
            font-size: 16px;
        }
        .show-room{
            height: 89%;
            width :90%;
            background-color:white;
            margin-left:5%;
            border-right:solid white 0.3em;
            border-bottom:solid white 0.1em;
             
            
        }
        
        .footer {
            height: 13%;
            width :100%;
            background-color: grey;
            color: white;
            padding: 10px;
            text-align: center;
            font-size: 20px;
            position: fixed; 
            
}
        .button {
            background-color: black;
            border: none;
            color: white;
            padding: 2px 20px 2px 15px;
            float: left;
            text-decoration: none;
            display: inline-block;
            font-size: 100%;
            margin: 4px 2px;
            text-align: center;
            cursor: pointer;
        }
        
        .button:hover {
        background-color: #DAA520;
        display: block;
        }
        
        h1 {
    margin: .67em 0;
    font-size: 2em
}
            